.div1 {
  margin: 20px;
  position: relative; /* Ensure relative positioning for child elements */
}

.userD {
  text-align: center;
}

.table-container {
  overflow-x: auto; /* Enable horizontal scrolling */
}

.table-scroll {
  max-width: 100%; /* Ensure the table can scroll horizontally */
}

.table-header {
  background-color: #19105B;
  color: white;
  font-weight: bold;
  text-align: center;
  border: 1px solid #fff; /* Add border to table headers */
}

td, th {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd; /* Add border to table cells */
}

td {
  background-color: #fff;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.approve {
  background-color: #FF6196;
}

.not-approve {
  background-color: #3B3B98;
  margin-left: 10px;
}

/* Highlight pending rows */
.pending-row {
  background-color: #f8d7da;
}

/* Hover effect on table rows */
.table-hover tbody tr:hover {
  background-color: #f1f1f1;
}

/* Responsive styles */
@media (max-width: 768px) {
  .div1 {
    padding: 10px;
  }

  .userD {
    padding-left: 0;
  }

  .table-header {
    font-size: 14px;
  }

  td, th {
    font-size: 14px;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .table-header {
    font-size: 12px;
  }
}
